*{padding: 0;margin: 0;border: 0;}
:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
    font-family: 'Inter', sans-serif;
    height: 4800px;
    width: 1920px;
}

::-webkit-scrollbar{
    width: 0.8em;
    margin-right: 2px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #FF9900;
}

::-webkit-scrollbar-track{
    margin-top: 8px;
    background-color: rgb(255, 255, 255);
}

header{
    height: 124px;
    width: 1920px;
    line-height: 150%;
    display: block;
}

.burgir{
    width: 36px;
    height: 36px;
    margin-top: 44px;
}

.order-button{
    width: 207px;
    height: 38px;
    background-color: #FF9900;
    margin-top: 43px;
}

nav{
    display: flex;
    margin: 0px 305px 0px 304px;
}

.head{
    display: block;
    font-size: 24px;
    margin-left: 74px;
    margin-right: 150px;
    text-transform: uppercase;
    padding-top: 52px;
}

.head ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head ul a li{
    padding-left: 76px;
    color: black;
}

.order-button span{
    display: flex;
    color: white;
    text-transform: uppercase;
    justify-content: center;
    font-weight: medium;
    font-size: 36px;
    padding: 4%;
}

.burgir-line1{
    height: 1px;
    background-color: black;
    width: 36px;
    position: absolute;
}

.burgir-line2{
    margin-top: 17px;
    height: 1px;
    background-color: black;
    width: 36px;
    position: absolute;
}

.burgir-line3{
    margin-top: 36px;
    height: 1px;
    background-color: black;
    width: 36px;
    position: absolute;
}

.container {
    width: 1337px;
    margin: 0 auto;
    padding-left: 13px;
    padding-right: 13px;
  }

.fast-request{
    display: flex;
    width: 1135px;
    height: 371px;
    line-height: 125%;
    font-size: 96px;
    justify-content: center;
    align-items: center;
}

.front-back-ui-ux{
    width: 683px;
    height: 34px;
    color: #FF9900;
    line-height: 150%;
    font-size: 40px;
}

.our-services{
    margin-top: 377px;
    font-weight: medium;
    line-height: 150%;
    font-size: 80px;
}

.site-development{
    margin-top: 30px;
    font-size: 24px;
    line-height: 50%;
}

.mobile-development{
    margin-top: 15px;
    font-size: 24px;
    line-height: 50%;
}

.ui-ux{
    margin-top: 15px;
    font-size: 24px;
    line-height: 50%;
}

.site-development-block{
    margin-top: 15px;
    width: 1311px;
    height: 515px;
    border: black solid 1px;
}

.ui-ux-block{
    margin-top: 13px;
    width: 874px;
    height: 515px;
    border: black solid 1px;
}

.mobile-development-block{
    margin-top: 13px;
    width: 424px;
    height: 515px;
    margin-left: 13px;
    border: black solid 1px;
}

.our-services-block{
    display: flex;
}

.sdbt1{
    position: absolute;
    z-index: -1;
    margin-top: 28px;
    margin-left: 858px;
    color: rgba(255, 153, 0, 0.4);
    font-size: 40px;
    font-weight: 700;
    width: 424px;
    height: 60px;
    line-height: 150%;
}

.sdbt2{
    position: absolute;
    margin-top: 25px;
    margin-left: 862px;
    color: rgba(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
    width: 424px;
    height: 60px;
    line-height: 150%;
}

.sdbi{
    margin-left: 20px;
    margin-top: 371px;
}

.ui-ux1{
    position: absolute;
    z-index: -1;
    margin-top: 28px;
    margin-left: 29px;
    color: rgba(255, 153, 0, 0.4);
    font-size: 40px;
    font-weight: 700;
    width: 634px;
    height: 60px;
    line-height: 150%;
}

.ui-ux2{
    margin-top: 25px;
    margin-left: 25px;
    color: rgba(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
    width: 634px;
    height: 60px;
    line-height: 150%;
}

.ui-ux-img{
    margin-top: 286px;
    margin-left: 20px;
}

.mdb1{
    position: absolute;
    z-index: -1;
    margin-top: 28px;
    margin-left: 122px;
    color: rgba(255, 153, 0, 0.4);
    font-size: 40px;
    font-weight: 700;
    width: 273px;
    line-height: 150%;
}

.mdb2{
    position: absolute;
    margin-top: 25px;
    margin-left: 126px;
    color: rgba(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
    width: 273px;
    line-height: 150%;
}

.mdbi{
    margin-top: 371px;
    margin-left: 20px;
}

.portfolio{
    width: 1311px;
    height: 929px;
    margin-top: 358px;
}

.portfolio-text{
    line-height: 125%;
    font-size: 96px;
}

.portfolio-block{
    margin-top: 41px;
    width: 1311px;
    height: 768px;
    border: black solid 1px;
}

.feedback{
    width: 1310px;
    height: 647px;
    margin-top: 257px;
}

.feedback-title{
    line-height: 125%;
    font-size: 64px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.feedback-title-second{
    font-weight: 300;
    font-size: 36px;
    display: flex;
    justify-content: center;
}