*{padding: 0;margin: 0;border: 0;}
:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
    font-family: 'Inter', sans-serif;
    height: 4800px;
    width: 1920px;
}

::-webkit-scrollbar{
    width: 0.8em;
    margin-right: 2px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #FF9900;
}

::-webkit-scrollbar-track{
    margin-top: 8px;
    background-color: rgb(255, 255, 255);
}

header{
    height: 124px;
    width: 1920px;
    line-height: 150%;
    display: block;
}

.burgir{
    width: 36px;
    height: 36px;
    margin-top: 44px;
}

.order-button{
    width: 207px;
    height: 38px;
    background-color: #FF9900;
    margin-top: 43px;
}

nav{
    display: flex;
    margin: 0px 305px 0px 304px;
}

.head{
    display: block;
    font-size: 24px;
    margin-left: 74px;
    margin-right: 150px;
    text-transform: uppercase;
    padding-top: 52px;
}

.head ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head ul a li{
    padding-left: 76px;
    color: black;
}

.order-button span{
    display: flex;
    color: white;
    text-transform: uppercase;
    justify-content: center;
    font-weight: medium;
    font-size: 36px;
    padding: 4%;
}

.burgir-line1{
    height: 1px;
    background-color: black;
    width: 36px;
    position: absolute;
}

.burgir-line2{
    margin-top: 17px;
    height: 1px;
    background-color: black;
    width: 36px;
    position: absolute;
}

.burgir-line3{
    margin-top: 36px;
    height: 1px;
    background-color: black;
    width: 36px;
    position: absolute;
}